.marketplace {
    padding-top: 50px;
    /* background-color:bisque */
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
}
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
h2{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 30px;
}
h3 {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    display: inline;
}
p {
    font-family: "Raleway", sans-serif;
    display: inline;
    font-size: 25px;
}

.profilepic {
    width: 55px;
    height: auto;
    /* padding-left: ; */
}

.top-sales-list {
    padding-top: 15px;
}
.legend {
    font-size: 12px;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
}
.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding-right: 20px;
    /* margin: 20px; */
}
/* .form-outline{
    margin-bottom: 20px;
} */
.input {
    margin-bottom: 20px;
}

.navbar-items {
    padding: 20px;
    /* background-color: aqua; */
}
.icons {
    padding-left: 10px;
    padding-right: 10px;
}
.left-side {
    padding-top: 150px;

    /* background-color: antiquewhite; */
}

.token {
    width: 300px;
    box-shadow: 0 8px 16px rgba(5,5,5,0.3);
    padding: 2px 16px;
    margin: 16px;
    border-radius: 8px;
}
.right-side{
    padding-top: 150px;

}
img {
    width: 100%;
    /* border: px solid #555; */
    margin-bottom: 30px;
}

.button{
    margin-right: 20px;
}
